@use '../../../../scss/mixins';
@use '../../../../scss/reset';
@use '../../../../scss/vars';

.card {
    @include mixins.flex(column, flex-start, flex-start, 27px);
    padding: 16px;
    background-color: vars.$card-bg;
    border-radius: 30px;
    position: relative;
    width: 70%;
    &__heart {
        position: absolute;
        left: 300px;
        top: 50px;
    }
    &__img {
        border-radius: 30px;
    }
    &__text {
        @include mixins.Inter(24px, 600, 32px);
        width: 90%;
    }
    &-container {
        @include mixins.flex(row, center, center, 28px);
        .card-box {
            @include mixins.flex(row, center, center, 13px);
            &__text {
                @include mixins.Inter(14px, 500, 17px);
            }
        }
    }
}