@use '../../../scss/mixins';
@use '../../../scss/reset';
@use '../../../scss/vars';

.section6 {
    @include mixins.flex(column, center, center, 96px);
    margin-top: 183px;
    &-textbox {
        @include mixins.flex(column, center, center, 24px);
        &__title {
            @include mixins.Inter(48px, 600, 58px);
        }
        &__text {
            @include mixins.Inter(16px, 400, 28px);
            text-align: center;
            width: 70%;
        }
    }
    &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 40px;
        width: 90%;
    }
}